# IntelliJ project files
.idea
*.iml
out
gen

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__

# Other randome stuff from drive folder
/2023 10 03 - Vorto Algorithmic Challenge Instructions.docx
/2023 10 03 - Vorto Algorithmic Challenge Instructions.pdf
/2023 10 11 - Leaderboard.xlsx
